<!--
Configs for a given project can be anything you would like.
They are all read the same way in your apps: settings::get()
-->
<?xml version='1.0' encoding='UTF-8'?>
<configs>
    <name>Nikken Project Name</name>
    <version>1.0</version>
    <database>
        <driver></driver>
        <host></host>
        <username></username>
        <password></password>
        <dbname></dbname>
    </database>
    <basedir>/some/directory/</basedir>
</configs>