<?xml version='1.0' encoding='UTF-8'?>
<configs>
    <name>Nikken Postit</name>
    <version>1.0</version>
    <database>
        <driver></driver>
        <host></host>
        <username></username>
        <password></password>
        <dbname></dbname>
    </database>
    <basedir>/var/www/html/postit/</basedir>
</configs>